@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Rubik:ital@1&display=swap");
body.page2 {
  background: url("/Fond/fond\ marnie.jpg") no-repeat center center fixed;
  background-size: cover;
}
.main {
  flex-direction: column;
  flex-wrap: wrap;
}
h2 {
  font-family: "Rubik", sans-serif;
  margin: 30px;
  color: rgb(112, 62, 95);
  font-size: 90px;
}
.container2 {
  margin-top: 0px;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container2 img:hover {
  transform: scale(1.1);
}