@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Rubik:ital@1&display=swap");
body.page2 {
  background: url("/Fond/fond\ totoro.jpg") no-repeat center center fixed;
  background-size: cover;
}
.main {
  flex-direction: column;
  flex-wrap: wrap;
}
h2 {
  font-family: "Rubik", sans-serif;
  margin: 25px;
  color: rgb(109, 43, 43);
  font-size: 80px;
}
p{
  border-style: outset;
  border-width: 8px;
  border-color: rgb(71, 36, 31);
  background-color: rgb(179, 133, 133);
  opacity: 0.8;
  padding: 25px;
  margin: 20%;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: rgb(24, 5, 12);
  margin-bottom: 5px;
  font-size: 15px;
  position: relative;
  left:-600px;
  bottom:200px;
  display: flex;
}
.container2 {
  margin-top: 20px;
  text-align: right;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container2 img:hover {
  transform: scale(1.1);
}