@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Rubik:ital@1&display=swap");

body.page1 {
  background: url("Chateau.jpg") no-repeat center center fixed;
  background-size: cover;
  font-size: 200px;
  overflow: scroll;
}

h1 {
  margin: 0%;
  font-family: "Oswald", sans-serif;
  color: rgb(90, 125, 160);
  margin-bottom: 5px;
  font-size: 300px;
  text-align: right;
}
p {
  font-family: "Rubik", sans-serif;
  margin-top: -100px;
  color: rgb(63, 93, 122);
  text-align: right;
}
.container {
  text-align: left;
  position: fixed;
  left: 0;
  top: 0;
  width: 500px;
}
.container img:hover {
  transform: scale(1.1);
}
.Lien2 {
  opacity: 0.8;
  position: fixed;
  top: 500px;
  right: 100px;
}
.Lien2 img:hover {
  transform: scale(1.1);
}

.clickable-image1 {
  height: 200px;
}

.clickable-image2 {
  margin: -60px;
  height: 180px;
  top: 500px;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-buttons {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: white;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2;
  line-height: 8%;
  opacity: 0.8;
  font-family: "Bahnschrift", sans-serif;
}

.menu-btn .burger-line {
  height: 10px;
  width: 45px;
  background-color: rgb(54, 53, 105);
  margin: 6px 0;
}

.navbar {
  display: none;
  margin-right: 20px;
}

.navbar.show-navbar {
  display: block;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(54, 67, 139);
}

.navbar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 15px;
  display: block;
}

.navbar a.active {
  background-color: #041b32;
  color: #ffffff;
}

body.dark {
  background-color: #110c24;
  color: #ffffff;
  background: url("Chateaucopie.jpg") no-repeat center center fixed;
  background-size: cover;
}

body.dark * {
  filter: grayscale(50);
}

#toggleDarkMode {
  background-color: #1c0f4db9;
  color: #fff;
  padding: 10px;
  position: relative;
  cursor: pointer;
  margin-top: 25px;
  bottom: 30px;
  height: 50px;
  font-size: 20px;
  font-family: "bahnschrift", sans-serif;
  left: 10px;
}
.portfolio {
  padding: 5px 5px;
  background-color: #aac3c5;
  opacity: 0.9 ;
}
.portfolio-elements {
  max-width: 50px;
  margin: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
}

.card {
  width: 1%;
  background-color: #a6c2c3;
  opacity: 0.95;
}

.card-header {
  padding: 30px 40px;
}
.card-title {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: bold;
  color: #1e395c;
  font-family: bahnschrift, sans;

}
.card-axe {
  font-size: 20px;
  color: #0c313f;
  margin-top: 6px;
  text-decoration: underline;
}

.card img {
  display: block;
  height: 500px;
}

.filters {
  max-width: 10px;
  margin: 0;
}

.filters ul {
  display: flex;
  gap: 20px;
}

.filters li {
  padding: 80px;
  color: #c4d6dd;
  background-color: rgb(61, 130, 142);
  padding: 3px 30px;
  font-size: 60px ;
  cursor: pointer;
  border-color: #fff;
  border-radius: 15px;
}

.filters li.active {
  background-color: rgb(96, 146, 116);
}

.portfolio-elements {
  padding: 10px ;
}