@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Rubik:ital@1&display=swap");

body.page1 {
  background: url("Chateau.jpg") no-repeat center center fixed;
  background-size: cover;
  font-size: 200px;
  overflow: scroll;
}

h1 {
  margin: 0%;
  font-family: "Oswald", sans-serif;
  color: rgb(90, 125, 160);
  margin-bottom: 5px;
  font-size: 300px;
  text-align: right;
}
p {
  font-family: "Rubik", sans-serif;
  margin-top: -100px;
  color: rgb(63, 93, 122);
  text-align: right;
}
.container {
  text-align: left;
  position: fixed;
  left: 0;
  top: 0;
  width: 500px;
}
.container img:hover {
  transform: scale(1.1);
}
.Lien2 {
  opacity: 0.8;
  position: fixed;
  top: 500px;
  right: 100px;
}
.Lien2 img:hover {
  transform: scale(1.1);
  
}

.clickable-image1 {
  height: 200px;
}

.clickable-image2 {
  margin: -90px;
  height: 150px;
  top: 400px
}


