@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Rubik:ital@1&display=swap");
body.page3 {
  background: url("/Fond/fond\ nausicaa.jpeg") no-repeat center center fixed;
  background-size: cover;
}
.main {
  flex-direction: column;
  flex-wrap: wrap;
}
h2 {
  font-family: "Rubik", sans-serif;
  margin: 20px;
  color: rgb(125, 134, 165);
  font-size: 150px;
}
p{
  border-style: outset;
  border-width: 8px;
  border-color: rgb(71, 111, 156);
  background-color: rgb(133, 164, 179);
  opacity: 0.8;
  padding: 25px;
  margin: 10%;
  font-family: "Oswald", sans-serif;
  color: rgb(27, 31, 63);
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  left: -885px;
  bottom: -50px;
  display: flex;

}
.container2 {
  margin-top: 20px;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container2 img:hover {
  transform: scale(1.1);
}
